[Camera]
csv: /tmp/med-interface/camera.csv
port: 8081
host: 127.0.0.1:%(port)s
cmd: cvlc --daemon --pidfile {pid} {cmd} :v4l2-standard= :live-caching=300 :sout=#transcode{{{{vcodec=theo}}}}:http{{{{dst=:%(port)s/stream.ogg}}}}

[Interface]
host: 127.0.0.1
port: 8080
views: /tmp/med-interface/views

[Radio]
cmd: cvlc --daemon --pidfile {pid} {cmd}
csv: /tmp/med-interface/radio.csv

[Sound]
SINK_NR: 1
SINK_ID: alsa_output.pci-0000_00_1b
